body {
    background-color:rgb(118,113,83);
    color: white;
    overflow-y: hidden;
    margin: 0;
    font-family: 'MedievalSharp', cursive;
}



.board {
    width: 540px;
    min-height: 540px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    background-color: rgb(36,35,51);
    grid-row: 1/2;
    grid-column: 2/3;
    z-index:0;
}

@media (max-width: 1200px){
    .content{
        margin: 30px 20px !important;
    }
    
}

@media (max-width: 1100px){
    .board{
        width: 280px;
        min-height: 0px;
        height: 280px;
    }
    * {
        font-size: 12px;
    }
    .content{
        margin: 30px 20px;
    }

}

@media (max-width: 1300px){
    label > input[type="checkbox"] {
        visibility:visible;
    }
    .slider {
        visibility: hidden;
    }
    .humanTag {
        display: none;
    }
}

.node {
    display:flex;
    justify-content: space-between;
    align-items: space-between;
    background-color: grey;
    background-size: contain;
    background-position: center;
    background-color: rgb(118,113,83);
}

nav {
    z-index:1;
    background: linear-gradient(black 70%,rgb(118,113,83));
    margin: 0;
    padding: 10px 10px 30px 10px;
    
}

.small {
    font-size:12px;
}

.medium {
    font-size:14px;
}

p.justifyRight {
    text-align: right;
    padding-right: 6px;
}

p.justifyLeft {
    text-align: left;
    padding-left: 6px;
}

.playerSelect {
    display:flex;
    justify-content: space-evenly;
    width:60%;
    margin: 0 auto;

}

.outcomeOverlay {
    background: linear-gradient(rgb(241, 178, 74, 1) 30%,rgb(241, 178, 74, 0.8) 60%, rgb(118,113,83));
    position: absolute;
    top:-100%;
    left:0;
    width: 100%;
    height: 0%;
    transition: 1s;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
    opacity:0;
}

#continue {
    display:none;
}

.content {
    margin: 30px 80px;
    transition:1s;
    display:grid; 
    grid-template-columns: auto auto auto;
    grid-template-rows:  1fr auto;
    
}

.showOutcome {
    align-items:center;
    top:0px;
    height:100%;
    opacity:1;
}

.hideBoard {
    transition:2s;
    margin-top:100%;
    /* height:0px; */

}

h1 {
    z-index: 2;
}



.playerPanel { 
    box-sizing: border-box;
    color:white;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width:300px;

    width:80%;
    margin:5px auto;
    border: 4px solid rgb(69,69,69);
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 5px 0px 5px, rgba(17, 17, 26, 1) 0px 0px 30px;
    background-color: rgb(36,35,51);
    padding: 20px 0px;
    margin: 0px auto;
    align-items: center;
    justify-content: space-around;
    font-size: 28px;
    z-index:1;
}

.playerPanel ul {
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    min-width:170px;
    min-height:176px;
}


.playerPanel li {
    list-style-type: none;
    margin-bottom:2em;
    padding: 0;

}


.avatar {
    width:50%;
    flex-shrink: 2;
    
}

#rightavatar {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#leftPanel {
    grid-row: 1/3;
    grid-column: 1/2;
}

#rightPanel {
    grid-row: 1/3;
    grid-column: 3/4;
}

.scoreBar {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    height: 3em;
    grid-row: 2/3;
    grid-column: 2/3;
}


.botList {
    visibility:hidden;
}

.vis.botList {
    visibility: visible;
}

#botList {
    min-width:100%;
}

select {
    min-width: 100px;
    text-align: center;
    color:black;
    
    background-color: rgb(184,146,92);
    background-position-x: -100px;
    background-position-y: -100px;
    border:none;
}


/* SLIDER */

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 26px;

  }
  
  .slider {
    box-sizing: content-box;
    position: absolute;
    cursor: pointer;
    top: 4px;
    left: 0;
    right: 0;
    bottom: -4px;
    background-image: url('img/switch-bg.png');
    background-position: center;
    border: 3px solid rgb(21, 16, 8);
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50px;
  }
  

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-image: url('img/switch.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
    box-shadow: rgba(17, 17, 26, 1) -2px 2px 3px;

  }
  
  input:checked + .slider {
    background-color: #5b5b5b;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  

  input[type="checkbox"] {
    position:absolute;
    visibility:hidden;
    top: 30%;
    left: 50%;
  }
