:root {
    --mouse: url('img/cursor-default.png')0 0,auto;
    --mousepoint: url('img/cursor-pointer.png'),pointer;
}



* {
    cursor: var(--mouse)

}

label {
    cursor: var(--mousepoint)
}

button {
    cursor: var(--mousepoint)
}


body {
    background-color:rgb(122,95,68);
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: auto 0;
    font-family: 'MedievalSharp', cursive;
    height: 100vh;

}



.startScreen {
    position:absolute;
    top:0;
    display:flex;
    flex-direction: column;
    z-index:100;
    position:absolute;
    background-color: #140d07;
    width:100vw;
    height:100vh;
    align-items: center;
    justify-content: center;
    transition: 1s ease-out;

}

.startScreen.hidden > * {
    display:none
}

.startScreen.hidden {
    opacity: 0;
    z-index:-1;

}



.outcomeOverlay {
    background: linear-gradient(rgb(20, 13, 7, 1) 40%,rgb(20, 13, 7, 0.8) 70%,rgb(20, 13, 7, 0.4) 90%, transparent);
    /* background-color: rgb(20, 13, 7, 1); */
    position: absolute;
    transform: translateY(-100vh);
    left:0;
    top:0;
    width: 100%;
    height: 0%;
    transition: 0.8s;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
}   

.showOutcome {
    transition: 0.5s;
    transform: translateY(0);
    height:100vh;
}



.board {
    width: 540px;
    min-height: 540px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-gap: 5px;
    background-color: rgb(36,35,51);
    grid-row: 2/3;
    grid-column: 2/3;
    transition: 0.5s linear;
    cursor: var(--mousepoint);

}

.settings {
    position:absolute;
    top:0;
    display:flex;
    flex-direction: row;
    z-index:10;
    background-color: rgb(20, 13, 7, 0.8);
    width:100vw;
    height:100vh;
    align-items: center;
    justify-content: center;
    overflow-x:hidden
}

.settingsSpan {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}



.settingsText {
    font-size: 18px;
    justify-content: right;
    margin-right:15px;
    margin-bottom:80px;
    margin-top:6px;
}

.settingsInput {
    position:relative;
    left:80px;
    width: 48px;
    height: 26px;
    min-height: 26px;;
    
  }

#volumeInput {
    box-sizing: border-box;
    position:relative;
    -webkit-appearance: none;
    appearance: none;
    max-width:48px;
    height:26px;
    background-image: url(img/switch-bg.png);
    border: 3px solid black;
    border-radius: 50px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-image: url(img/switch.png);
    background-position: center;
    box-shadow: rgba(17, 17, 26, 1) -2px 2px 3px;
}

input[type=number] {
    box-sizing: border-box;
    border: 3px solid black;
    width:48px;
    background-image: url(img/switch-bg.png);
    color: white;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
}



input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

#exitSettings {
    max-height: 30px;
    position:absolute;
    right:0;
    top:30px;
    cursor: var(--mousepoint)
}

.settings > img {
    position:absolute;
    z-index:-1;
    height: 90vh;
    min-width:500px;
}

.settings.hidden {
    opacity: 0;
    z-index:-1;
    transition: 0.4s linear;
}

.settingsContent {
    position:absolute;
    top:20vh;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    overflow-y:hidden;
    transition: 0.45s linear;
    height: 65vh;
    min-width:300px;
}



.settingsContent.hidden {
    overflow-y:hidden;
    height:0vh;
    transition: 0.4s linear;
}




@media (max-width: 1300px){
    /* label > input[type="checkbox"] {
        visibility:visible;
    }
    .slider {
        visibility: hidden;
    } */
    .humanTag {
        display: none;
    }
}


@media (max-width: 1100px){
    .board{
        width: 280px;
        min-height: 0px;
        height: 280px;
    }
    * {
        font-size: 12px;
    }
    .content {
        margin: 30px 20px;
        font-size: 12px;
    }
    .playerPanel li {
        margin-top:3em;
    }

}



.node {
    display:flex;
    justify-content: space-between;
    align-items: space-between;
    background-repeat:no-repeat ;
    background-color: grey;
    background-size: contain;
    background-position: center;
    background-color: rgb(122,95,68);
    cursor: var(--mousepoint);
}

#settingsOpen {
    min-height: 100px;
    max-height: 100px;
    position:absolute;
    top:10px;
    left:10px;
    cursor: var(--mousepoint)
}

nav {
    min-height: 30px;
    max-height: 30px;
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    z-index:1;
    background-color: rgb(20, 13, 7);
    background-color: transparent;
    margin: 0;
    margin-bottom: 40px;

    object-fit: cover;
}


nav > * {
    z-index:10
}

.small {
    font-size:12px;
}

.medium {
    font-size:14px;
}

p.justifyRight {
    text-align: right;
    padding-right: 6px;
}

p.justifyLeft {
    text-align: left;
    padding-left: 6px;
}

.playerSelect {
    display:flex;
    justify-content: space-evenly;
    width:60%;
    margin: 0 auto;

}



.content {
    margin: 60px 80px 30px 80px;
    transition:0.6s;
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
}

.timer {
    min-height:1em;
    line-height: 1em;
    font-size: 36px;
    display:flex;
    justify-content: space-around;
    grid-row: 1/2;
    grid-column: 2/3;
}

.hideContent {
    transition:0.2s ease-in;
    transform: translateY(100vh);
    /* height:0px; */

}

h1 {

    font-size: 60px;
}

h2 {
    font-size: 34px;
}


.playerPanel { 
    box-sizing: border-box;
    color:white;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width:300px;

    width:80%;
    margin:5px auto;
    border: 4px solid rgb(69,69,69);
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 5px 0px 5px, rgba(17, 17, 26, 1) 0px 0px 10px;
    background-color: rgb(36,35,51);
    padding: 20px 0px;
    margin: 0px auto;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    font-size: 28px;
    z-index:1;
    transform: translateX(0);
    transition: 1s ease-out;


}

.playerPanel.turn {
    transition: 1s ease-out;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;

}

@keyframes glow {
    0% {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 5px 0px 5px, rgba(17, 17, 26, 1) 0px 0px 10px;
    }
    50% {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 5px 0px 5px, rgba(17, 17, 26, 1) 0px 0px 10px;
    }
    100% {
        box-shadow: rgba(255, 210, 210, 0.1) 0px 10px 10px 5px, rgba(255, 210, 210, 1) 0px 0px 30px;
    }
  }

  @-webkit-keyframes glow {
    0% {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 5px 0px 5px, rgba(17, 17, 26, 1) 0px 0px 10px;
    }
    50% {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 5px 0px 5px, rgba(17, 17, 26, 1) 0px 0px 10px;
    }
    100% {
        box-shadow: rgba(255, 210, 210, 0.1) 0px 10px 10px 5px, rgba(255, 210, 210, 1) 0px 0px 30px;
    }
  }

.playerPanel.hideLeft {
    transform: translateX(-30vw);
}

.playerPanel.hideRight {
    transform: translateX(30vw);
}


.playerPanel ul {
    
    padding: 0;
    margin:0;
    align-items: center; 
    text-align: center;
    min-width:170px;
    min-height:176px;
    max-height:170px;
}


.playerPanel li {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 1em auto;
    padding: 0;
    width:80%;
    max-width:80%;
    text-align: center;
}


.avatar {
    width:50%;
    flex-shrink: 2;
    
}

#rightavatar {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#leftPanel {
    grid-row: 2/4;
    grid-column: 1/2;
}

#rightPanel {
    grid-row: 2/4;
    grid-column: 3/4;
}

.bottomPanel {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    justify-content:space-evenly;
    align-items:center;
    min-height: 3em;
    grid-row: 3/4;
    grid-column: 2/3;
    min-width: 100%;
}
.sizerPanel {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    height: 3em;
    grid-column: 1/2;
}

.gameSwitch {
    display:flex;
    justify-content: space-evenly;
    width:80%;
    margin: 0 auto;
}





.sizer {
    display:block;
    border:3px solid black;
    background-image: url(img/switch-bg.png);
    border-radius:50%;
    height:30px;
    width:30px;
    margin: 0px 10px;
    align-items: center;
    line-height: 30px;
    min-height:1em;
    text-align: center;
    cursor: var(--mousepoint);
    
}

.sizer > p {
    position: relative;
    font-size: 60px;
    width:inherit;
    height:inherit;
    text-align: center;
    top:3px;
    left:-1px;
    color:black;
    margin:0;
    cursor: var(--mousepoint);

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scoreSpan {
    width:100%;
    text-align: center;
    min-height:118px;
}

.botList {
    visibility:hidden;
    cursor: var(--mousepoint)
}

.vis.botList {
    visibility: visible;
}


select {
    min-width: 100px;
    text-align: center;
    color:black;
    background-color: rgb(184,146,92);
    background-position-x: -100px;
    background-position-y: -100px;
    border:none;
    border-radius: 4px;
}


/* SLIDER */
.switch > * {
    cursor: var(--mousepoint)
}

.switch {

    position: relative;
    display: block;
    width: 48px;
    height: 26px;
    min-height: 26px;;
        
  }


  
  .slider {

    box-sizing: content-box;
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    bottom: -4px;
    background-image: url('img/switch-bg.png');
    background-position: center;
    border: 3px solid rgb(21, 16, 8);
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50px;
  }
  

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-image: url('img/switch.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
    box-shadow: rgba(17, 17, 26, 1) -2px 2px 3px;

  }
  
  
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  

  input[type="checkbox"] {
    position:absolute;
    visibility:hidden;
  }

