.board {
    max-width: 540px;
    min-height: 540px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 4px;
    background-color: #9DC88D;
}

.node {
    display:flex;
    justify-content: space-between;
    align-items: space-between;
    background-color: grey;
    background-size: contain;
    background-position: center;
    background-color: #164A41
       
}

body {
    background-color: #164A41;
    color: white;
    overflow-y: hidden;
}

.outcomeOverlay {
    /* background-color: linear-gradient(top bottom #F1B24A, #164A41); */
    background: linear-gradient(rgb(241, 178, 74, 1) 30%,rgb(241, 178, 74, 0.8) 60%, #164A41);;
    position: absolute;
    top:-100%;
    left:0;
    width: 100%;
    height: 0%;
    transition: 1s;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
    opacity:0;
}

#continue {
    display:none;
}

.content {
    transition:s;
}

.showOutcome {
    align-items:center;
    top:0px;
    height:100%;
    opacity:1;
}

.hideBoard {
    transition:2s;

    margin-top:100%;
    height:0px;

}

h1 {
    z-index: 2;
}